body {
  background-color: #fcefbf;
}

.weather-app {
  background: #f8e185;
  max-width: 600px;
  min-width: 250px;
  margin: 35px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
  padding-top: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  color: #f83e4b;
  font-weight: 800;
}

.umbrella {
  font-size: 50px;
  margin-right: 10px;
}

.header-app {
  font-size: 25px;
  position: relative;
  bottom: 8px;
}
form {
  display: flex;
  justify-content: center;
}

.search-city {
  border-radius: 10px;
  border: none;
  width: 250px;
  text-align: center;
  font-size: 15px;
}
.submit {
  background-color: #9d53c3;
  color: wheat;
  border: none;
  padding: 9px 15px;
  font-size: 18px;
  margin-left: 15px;
  border-radius: 10px;
}
.date {
  display: flex;
  justify-content: right;
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #f83e4b;
}
.today-container {
  border: none;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 6px;
  padding: 15px 35px;
  background-color: #fcefbf;
  height: 120px;
  color: #9d53c3;
}
h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}

p {
  font-size: 15px;
  line-height: 20px;
  margin-top: 5px;
}

.temp-unit {
  font-size: 25px;
  font-weight: 600;
  color: #9d53c3;
  position: relative;
  top: -160px;
  right: -450px;
}

#today-icon {
  width: 55px;
  position: relative;
  top: -95px;
  right: -355px;
}

.future-weather {
  display: flex;
  justify-content: space-around;
  color: #9d53c3;
  border: none;
  border-color: #cb9bba;
  border-radius: 6px;
  padding: 15px 35px;
  margin-top: 7px;
  background-color: #fcefbf;
  text-align: center;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.weather-forecast-icon {
  width: 2px;
  text-align: center;
  display: block;
  margin: 0, auto;
}

footer {
  display: flex;
  justify-content: center;
  color: #f83e4b;
  font-size: 12px;
}

a {
  color: #f83e4b;
}
